<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/first">Primero</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/second">Segundo</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/third">Tercero</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/four">Cuarto</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/links">Enlaces</a></li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>
<!--
<div *ngFor="let post of posts">
  <h3>{{ post.title }}</h3>
  <h4>{{ post.id }} - {{ post.userId }}</h4>
  <p>{{ post.body }}</p>
</div>
<hr />

-->
